<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
		<%= image_tag(@user.picture_url, :width =>200) if @user.picture.present? %>
		
    </section>
  </aside>
</div>