<header class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <%= link_to "Soxialit", '#', id: "logo" %>
         <nav>
           <ul class="nav pull-right">
             <li><%= link_to "Random",    random_path %></li>
             <li><%= link_to "Feedback",   feedback_path %></li>
             <li><%= link_to "Ingresar", ingresar_path %></li>
           </ul>
         </nav>
       </div>
     </div>
   </header>